@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: inherit;
}
body{
    width: 100%;
    height: 100%;
    background-color: #ccc;
}
.login-left{
    width: 100%;
    height: 640px;
    position: relative;
}
.login-left::before{
    content: 'NOOTRO-AUTO';
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 3rem;
    font-weight:600;
    color: #1FEAD3;
    transform: translateX(-50%);
}
.login-left__img{
    width: 100%;
    height: 100%;
    object-fit:cover
}
.login-logo{
    font-size: 1.8rem;
    color: #fff;
    font-weight:600;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 4px;
    left: 0;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    border-top: 2px solid #ccc;
}
.login-logo__img{
    height: 30px; 
    object-fit: cover;
    margin-left: 6px;
}
.login-header{
    height:46px;
    width: 100%;
}
.login-content{
    padding-top: 20px;
}
.login-header .nav-link{
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight:600;
    color: #1FEAD3;
}
.login-form{
    background-color: #fff;
    margin: 80px 20px 0 20px;
}
.login-form h3{
    font-size:2.6rem;
    font-weight:600;
}
.login-form__label{
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 14px;
}
.login-form input{
    font-size:1.8rem;
    line-height: 1.8rem;
    padding: 8px 5px;
    border: none;
    background-color: rgb(215 215 215);
    border-radius:4px;
}
.login-form__forget{
    font-size:1.6rem;
    text-decoration: underline;
    text-transform: uppercase;  
    display: block;
    margin: 12px 0;

}
.login-btn{
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding: 4px 6px;
    min-width: 120px;
    height: 39px;
    background-color: #016763;
}
.login-btn:hover{
    background-color: #016763;
    opacity: .8;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*="col-"]
{
    padding-right: 0;
    padding-left: 0;
}

@media (max-width: 768px) {
    .login-left{
        display: none;
    }
    .login-form{
        padding-bottom: 83px;
    }
}